{% extends "ochre/template_pack/index.html" %}
{% load static %}

{% block content %}
<header class="banner" role="banner" aria-label="Explore the Krieger School Slider">

  <div class="card mb-0">
    <img width="1920" height="500" src="{% static 'reading_room_banner.png' %}" class="card-img featured-hero-image wp-post-image" alt="reading room" decoding="async" loading="eager" sizes="(max-width: 1920px) 100vw, 1920px" />
    <div class="card-img-overlay banner-overlay" style="bottom:30%;transform:translateY(40%);">
<blockquote><p>The higher places...in the coming years are for those who succeed in bringing the methods of one science to the investigation of another.</p>
    <span>&mdash;Charles Sanders Peirce, as quoted by Richard Macksey in his opening remarks to <i>The Languages of Criticism and the Sciences of Man</i></span>
</blockquote>
    </div>
  </div>
</header>


<main class="intro">
  <div class="container px-2">

<!--<p>In his opening remarks to participants in <i>The Languages of Criticism and the Sciences of Man</i>, Richard Macksey quoted his influential predecessor to frame the coming conversations, and to highlight an intellectual narrative that placed Johns Hopkins at the center of the movement towards interdisciplinary scholarship.</p>-->

  
<p>The Johns Hopkins <b>Center for Digital Humanities</b> (CDH) was established to capitalize on several unique academic and practical strengths of the university and take a distinctive leading role among its peers at the intersection of computational and humanistic scholarship.  This involves a particular focus on the development, application, and justification of <i>computational intelligence</i>,  to create insights in traditional humanistic domains while also directly driving research in the machine learning community.  On the computational side, we focus on areas such as:</p>

<ul>
  <li>
    <div class="ms-2 me-auto">
      <div class="fw-bold">Unsupervised machine learning and discovery</div>
      What happens when we let a computational model infer its own definition of "interesting"?
    </div>
  </li>
  <li>
    <div class="ms-2 me-auto">
      <div class="fw-bold">Knowledge representation and augmentation</div>
      Can we productively represent the primary sources of a domain alongside the variety of conceptual frameworks that different scholars bring to bear on them?
    </div>
  </li>
  <li>
    <div class="ms-2 me-auto">
      <div class="fw-bold">Interpretable models for scholars</div>
      How can meaningful insight move dynamically between human and computational models of the world?
    </div>
  </li>
</ul>

{% comment %}
<p>Genuine engagement across disciplines depends on significant levels of understanding between the research communities.  Pedagogically, the CDH focuses on early-stage graduate students and advanced undergraduates, with the goal of building sufficient computational experience to understand the scope of possibilities for their humanistic research.  <i>Introduction to Computation for the Humanities</i> consists of an opinionated introduction to empirical research practices, basic programming, and fundamental machine learning concepts that prepare humanistic scholars to make informed decisions about including computational methods in their research, and to have productive interactions with their colleagues in Computer Science departments.  More advanced courses are offered on specific, high-value topics.
</p>
{% endcomment %}
<p>The CDH is closely linked to the <a href="https://cs.jhu.edu">Computer Science department</a> and <a href="https://clsp.jhu.edu">Center for Language and Speech Processing</a>, one of the nation's pre-eminent machine learning research groups focused on computational models of human language and understanding.  Johns Hopkins, a historical center of gravity for the evolution of semiotics and structuralism and debates surrounding these and other topics at the intersection of science and the humanities, is in a unique position to consider the unique and shared strengths of human and computational intelligence, while pursuing applied research that incorporates both.<p>
</div>



</main>
  {% endblock %}

