{% load ochre %}
{% load rest_framework %}

{% with request.headers.uid as uid %}
<div
  class="article-listentry card"
  hx-target="this"
  hx-swap="outerHTML"
  >
  <div class="article-date">
    {{date}}
  </div>
  <h2>
    <a class="article-title" href="{% url 'article_detail' id %}">
      {{title}}
    </a>
  </h2>
  <div
    class="article-listentry-content"
    >
    <div class=""
	 >
    </div>
    <div class="article-snippet">
    </div>
  </div>
  {% if True %}
  <div
    class="btn-group position-absolute top-0 end-0"
    >
    <button
      class="{{edit_icon}}"
      hx-get="{{url}}"
      hx-headers='{"uid" : "{{uid}}_{{index}}", "Accept" : "text/html include=true", "mode" : "listentry_edit"}'	    
      >
    </button>
  </div>
  {% endif %}

</div>
{% endwith %}
