{% extends "ochre/template_pack/index.html" %}
{% load static %}
{% load rest_framework %}

{% block content %}
<div
  class="container"
  >
  {% render_markdown object.content %}
</div>
{% endblock %}

{% block dynamic_content %}
{% if dynamic_view %}
<div
  class="container w-100 ochre-{{mode}} article-list"
  >
<div
  class="container w-100 ochre-{{mode}}"
  hx-get="{% url dynamic_view %}"
  hx-swap="outerHTML"
  hx-trigger="intersect"
  hx-headers='{"uid" : "{{uid}}", "Accept" : "text/html include=true", "mode" : "{% if mode %}{{mode}}{% else %}view{% endif %}"}'
  >
</div>
</div>
{% endif %}

{% endblock %}
