{% if not style.editable and field.write_only %}
{% elif field.name == "name" and not style.editable %}
{% else%}
<div
  class="form-group {% if field.errors %}has-error{% endif %}"
  endpoint_url="{{style.endpoint_url}}"
  detector_type="{{style.detector_type}}"
  >
  {% if field.label %}
    <label {% if style.hide_label %}class="sr-only"{% endif %}>{{ field.label }}</label>
    {% endif %}

    <div class="ochre-audio-interaction">
      <div>
	<button class="record btn btn-primary">Record</button>
	<button class="upload btn btn-primary">Upload</button>
	<!--<button class="play btn btn-primary" disabled="true">Play</button>-->
      </div>
      <input id="file_{{ uid }}" type="file" source="audio/*" style="display: none;" />
      <span></span>
    </div>
  {% if field.errors %}
    {% for error in field.errors %}
      <span class="help-block">{{ error }}</span>
    {% endfor %}
  {% endif %}

  {% if field.help_text %}
    <span class="help-block">{{ field.help_text|safe }}</span>
  {% endif %}
</div>
{% endif %}
