<div class="form-group {% if field.errors %}has-error{% endif %}">
  <div class="checkbox">
  {% if field.label %}
  <label {% if style.hide_label %}class="sr-only"{% endif %} title="{{field.help_text|safe}}" data-bs-toggle="tooltip" data-bs-placement="left">
    {{ field.label }}
  </label>
  {% endif %}      
<input type="checkbox" name="{{ field.name }}" value="true" {% if field.value %}checked{% endif %}>
  </div>

  {% if field.errors %}
    {% for error in field.errors %}
      <span class="help-block">{{ error }}</span>
    {% endfor %}
  {% endif %}

</div>
