{% load i18n %}


{% with uid=field.name %}


<div
  class="form-group {% if field.errors %}has-error{% endif %} float-start"
  >
  {% if field.label and not style.hide_label %}
  <label {% if style.hide_label %}class="sr-only"{% endif %} title="{{field.help_text|safe}}" data-bs-toggle="tooltip" data-bs-placement="left">
    {{ field.label }}
  </label>
  {% endif %}

  
    <div      
      field_name="{{field.name}}"
      value_id="{{uid}}"
      parent_id="{{style.parent_id}}"
      {% if style.endpoint %}
      output_id="{{uid}}_output"
      endpoint_url="{% url style.endpoint field.value %}"
      {% endif %}
      language="{{style.language}}"
      class="{% if style.class %}{{style.class}}{% else %}ochre-editor{% endif %} container-fluid"
      style="height:200px;width:800px;border: 1px solid grey">
    </div>

    {{ field.value|json_script:uid }}

    <input
      type="hidden"
      name="{{field.name}}"
      class="form-control"
      id="{{uid}}-hidden"
      value="{{field.value}}"/>

    {% if style.endpoint %}
    <button class="btn btn-primary ochre-editor-action">Submit</button>
    <div id="{{uid}}_output" class="container">
    </div>
    {% endif %}



  {% if field.errors %}
    {% for error in field.errors %}
      <span class="help-block">{{ error }}</span>
    {% endfor %}
  {% endif %}
    
</div>

{% endwith %}
