{% extends "ochre/template_pack/generic_listentry_create.html" %}
{% load ochre %}
{% load rest_framework %}

{% block content %}

<form
  enctype="multipart/form-data"
  hx-post="{{model.get_create_url}}"
  hx-target="this"
  hx-swap="outerHTML"
  hx-headers='{"uid" : "{{uid}}_{{index}}", "Accept" : "text/html include=true", "X-CSRFToken" : "{{csrf_token}}", "interaction-mode" : "view", "interaction-context" : "listentry"}'
  >
  <div
    class="card"
    >
    <div
      class="card-header"
      >
      <div
	class="btn-group w-25"
	>
	<button
	  class="{{commit_icon}}"
	  >
	</button>
	<button
	  class="{{cancel_icon}}"
	  onclick="event.target.parentNode.parentNode.parentNode.parentNode.remove()"
	  >
	</button>	
      </div>
    </div>
    {% render_form serializer %}    
  </div>
</form>

{% endblock %}
