{% load rest_framework %}



{% with uid=request.headers.uid model=serializer.context.view.get_model %}
<form
  enctype="multipart/form-data"
  hx-post="{{model.get_create_url}}"
  hx-target="this"
  hx-swap="outerHTML"
  hx-headers='{"uid" : "{{uid}}_{{index}}", "Accept" : "text/html include=true", "X-CSRFToken" : "{{csrf_token}}", "interaction-mode" : "create", "interaction-context" : "listentry"}'
  >
  {% block content %}
  <div
    class="card"
    >
    <div
      class="card-header"
      >
      <div
	class="btn-group w-25"
	>
	<button
	  class="{{commit_icon}}"
	  >
	</button>
	<button
	  class="{{cancel_icon}}"
	  onclick="event.target.parentNode.parentNode.parentNode.parentNode.remove()"
	  >
	</button>	
      </div>
    </div>
    {% render_form serializer template_pack="ochre/template_pack" %}
  </div>
  {% endblock %}
</form>

{% endwith %}

