{% load ochre %}
{% load rest_framework %}
{% load guardian_tags %}



{% with uid=request.headers.uid model=serializer.context.view.get_model obj=serializer.context.view.get_object %}



<div
  class="listentry card"
  hx-target="this"
  hx-swap="outerHTML"
  >
  {% block content %}
  {% endblock %}
  {% block actions %}
  {% get_obj_perms request.user for obj as "perms" %}
  <div
    class="btn-group position-absolute top-0 end-0"
    >
    {% if obj.get_change_perm in perms or request.user.is_superuser %}
    <button
      class="{{edit_icon}}"
      hx-get="{{url}}"
      hx-headers='{"uid" : "{{uid}}_{{index}}", "Accept" : "text/html include=true", "mode" : "listentry_edit"}'	    
      >
    </button>
    {% endif %}
    {% if request.user.is_staff or request.user.get_absolute_url == creator_url %}
    <button
      class="{{permissions_icon}}"
      hx-get="{{permissions_url}}"
      hx-headers='{"uid" : "{{uid}}_{{index}}", "Accept" : "text/html include=true", "mode" : "listentry_edit"}'
      >
    </button>
    {% endif %}

  </div>
  {% endblock %}
</div>

{% endwith %}
