{% load ochre %}
{% load guardian_tags %}

{% for item in items %}
{% with uid=request.headers.uid model=serializer.context.view.get_model %}
<div
  hx-get="{{item.url}}"
  hx-headers='{"uid" : "{{uid}}_{{index}}", "Accept" : "text/html include=true", "interaction-mode" : "view", "interaction-context" : "listentry"}'
  hx-trigger="load"
  hx-swap="outerHTML"
  >
</div>
{% endwith %}
{% endfor %}

{% block add_object %}
{% with uid=request.headers.uid model=serializer.context.view.get_model %}



{% if model.get_add_perm in perms or request.user.is_superuser or request.user.is_staff %}
<button
  class="{{create_icon}}"
  hx-get="{{model.get_create_url}}"
  hx-headers='{"uid" : "{{uid}}_{{index}}", "Accept" : "text/html include=true", "interaction-mode" : "create", "interaction-context" : "listentry"}'
  hx-target="this"
  hx-swap="beforebegin"  
  >
  Add another
</button>
{% endif %}
{% endwith %}
{% endblock %}


