{% extends "ochre/template_pack/index.html" %}


{% block content %}
<div
  class="px-4"
  id="{{uid}}-container"
  >
  {% if items %}
    {% if list_template_name %}
      {% include list_template_name with items=items uid=uid creation_methods=creation_methods %}
    {% else %}
      {% include "ochre/template_pack/accordion.html" with items=items uid=uid creation_methods=creation_methods %}
    {% endif %}
  {% else %}
  <div
    class="container w-100 ochre-{{mode}}"
    hx-get="{% if pk %}{% url view_name pk %}{% else %}{% url view_name %}{% endif %}"
    hx-swap="outerHTML"
    hx-trigger="intersect"
    hx-headers='{"uid" : "{{uid}}", "Accept" : "text/html include=true", "mode" : "{% if mode %}{{mode}}{% else %}view{% endif %}"}'
    >
  </div>
  {% endif %}
</div>

{% endblock %}
