{% load ochre %}


<!-- begin modal trigger (basically, just icons) -->
<button
  class="btn ochre-modal ochre-interactive"
  type="button"
  data-bs-toggle="modal"
  data-bs-target="#{{mode}}_modal-{{uid}}_{{index}}"
  >

  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="16"
    height="16"
    fill="currentColor"
    class="bi bi-lock"
    viewBox="0 0 16 16"
    >
    <path
      d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2zM5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1z"
      />
  </svg>  
</button>


<!-- begin modal content -->
<div
  class="modal fade"
  id="{{mode}}_modal-{{uid}}_{{index}}"
  tabindex="-1"
  role="dialog"
  aria-labelledby="{{mode}}_modal_label-{{uid}}_{{index}}"
  aria-hidden="true"
  >
  <div
    class="modal-dialog modal-xl"
    role="document"
    >
    <div
      class="modal-content"
      >
      <div
	class="modal-header"
	>
        <h5
	  class="modal-title"
	  id="{{mode}}_modal_label-{{uid}}_{{index}}"
	  >
	  Modifying permissions of {{item.model_title_singular}} '{{item}}'
	</h5>
        <button
	  type="button"
	  class="close"
	  data-bs-dismiss="modal"
	  aria-label="Close"
	  >
          <span
	    aria-hidden="true"
	    >
	    &times;
	  </span>
        </button>
      </div>
      <form
	id="form-{{mode}}_{{uid}}_{{index}}"
	hx-patch="{{item.get_permissions_url}}"
	hx-encoding="multipart/form-data"
	hx-headers='{"uid" : "{{mode}}_{{uid}}_{{index}}", "style" : "modal", "X-CSRFToken" : "{{csrf_token}}", "include" : true}'
	>
      <div
	class="modal-body"
	hx-trigger="intersect"
	hx-swap="innerHTML"
	hx-select="#top_level_content > *"
      	hx-get="{{item.get_permissions_url}}"
	hx-headers='{"uid" : "{{mode}}_{{uid}}_{{index}}", "style" : "modal", "X-CSRFToken" : "{{csrf_token}}", "mode" : "edit"}'
	>
      </div>
      </form>
	<div
	  class="modal-footer"
	  >
          <button
	    type="button"
	    class="btn btn-secondary"
	    data-bs-dismiss="modal"
	    >
	    Never mind
	  </button>
	  <!-- make conditional on success -->
          <button
	    type="submit"
	    class="btn btn-primary"
	    form="form-{{mode}}_{{uid}}_{{index}}"
	    id="{{mode}}_button-{{uid}}_{{index}}"	    
	    data-bs-dismiss="modal"	    
	    >
	    Save
	  </button>
	</div>
    </div>
  </div>
</div>

