{% load ochre %}
{% with request.headers.uid as uid %}

<div
  class="container"
  >
  {% for item in items %}
  {% join uid forloop.counter as next_uid %}
  <div
    class="row w-50"
    >
    <div
      hx-get="{{item.url}}"
      hx-headers='{"uid" : "{{next_uid}}", "Accept" : "text/html include=true", "mode" : "view", "template" : "ochre/template_pack/researchproject_listentry.html"}'
      hx-trigger="intersect"
      hx-swap="outerHTML"
      >
    </div>
  </div>
  {% endfor %}
</div>
{% endwith %}
