{% load ochre %}
{% load static %}
{% load guardian_tags %}


<div
  class="container-fluid"
  >
  <div id="slides_{{uid}}" class="carousel carousel-dark slide ochre-carousel">
    <div class="carousel-indicators">
      {% for item in items %}
      <button type="button" data-bs-target="#slides_{{uid}}" data-bs-slide-to="{{forloop.counter0}}" {% if forloop.counter == 1 %}class="active" aria-current="true"{% endif %} aria-label="Slide {{forloop.counter}}"></button>
      {% endfor %}
    </div>  
    <div class="carousel-inner slide">
      {% for item in items %}
      <div class="carousel-item{% if forloop.counter == 1 %} active{% endif %} mt-0 mb-0">
	{% join uid forloop.counter as next_uid %}
	{% include "ochre/template_pack/slide.html" with item=item index=forloop.counter uid=next_uid %}
      </div>
      {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#slides_{{uid}}" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#slides_{{uid}}" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

{% comment %}
<div class="container w-75">
  {% if model.get_add_perm in perms %}
    {% join uid 1 as next_uid %}
  <button
  class="btn ochre-modal ochre-interactive {{create_icon}}"
  type="button"
  data-bs-toggle="modal"
  data-bs-target="#modal-{{next_uid}}"
  title="Create a new article"
  id="modal_button-{{next_uid}}"
  >
  </button>
  {% include "ochre/template_pack/modal.html" with uid=next_uid csrf_token=csrf_token item=model serializer=serializer title="Create a new article" url="api:article-list" method="post" mode="create" %}
  {% endif %}
</div>
{% endcomment %}
