{% load guardian_tags %}



<div
  hx-target="this"
  hx-swap="outerHTML"
  class="carousel-caption d-none d-md-block top-0 mt-0 mb-0 g-0"
  ><h6 class="mt-0 mb-0 g-0"></h6>
  <h5>{{item.title}}</h5>
  
</div>
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col">      
      {% if item.content %}
      <a href="/archive/{{item.id}}/">
      {% endif %}
      <img
	class="position-relative top-0 start-50 translate-middle-x slide-img"
	src="{{item.image}}"
	alt="{{item.title}}"
	/>
      {% if item.content %}
      </a>
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col"></div>
    <div class="col justify-content-md-center">
      {% if item.get_change_perm in obj_perms %}
      {% include "ochre/template_pack/edit_modal.html" with uid=uid index=index csrf_token=csrf_token item=item %}
      {% endif %}
      {% comment %}
      <button
      class="{{edit_icon}}"
      hx-get="{{url}}"
      hx-headers='{"uid" : "{{uid}}_{{index}}", "Accept" : "text/html include=true", "mode" : "edit"}'	    
      >
    </button>
      


      {% if item.get_delete_perm in obj_perms %}
      dasdas
      {% include "ochre/template_pack/modal.html" with mode="permissions" uid=uid index=index csrf_token=csrf_token item=item %}
      {% endif %}
      {% endcomment %}
    </div>
    <div class="col"></div>
  </div>
</div>
