{% load ochre %}
{% load rest_framework %}


<div
  id="{{uid}}-tabs"
  >
  {% if not serializer.instance or not serializer.instance.state or serializer.instance.state == "CO" %}  
  <ul class="nav nav-tabs ochre-nav-tabs" id="{{uid}}-tabcontrols" role="tablist">
    {% for field in serializer %}
    {% join uid forloop.counter as next_uid %}
    {% include "ochre/template_pack/tab_control.html" with title=field.label uid=next_uid %}
    {% endfor %}
  </ul>
  <div class="tab-content" id="{{uid}}-tabcontents">
    {% for field in serializer %}
    {% join uid forloop.counter as next_uid %}
    {% include "ochre/template_pack/tab_content.html" with field=field uid=next_uid %}
    {% endfor %}
  </div>
  {% elif serializer.instance.state == "ER" %}
  <h4>Error: {{serializer.instance.message}}</h4>
  {% elif serializer.instance.state == "PR" %}
  <h4>{{serializer.instance.message}}</h4>
  {% endif %}
</div>
