{% extends "ochre/template_pack/generic_listentry_view.html" %}
{% load ochre %}
{% load rest_framework %}

{% block content %}
<div class="row g-0">    
  <div class="col-md-4">
      
    {% if photo %}
    <img src="{{photo}}" alt="Picture of {{first_name}} {{last_name}}" class="img-fluid float-start" style="max-height:12rem;" />
      {% else %}
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill card-img-top" viewBox="0 0 16 16">
        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
    </svg>
    {% endif %}
  </div>
  <div class="col-md-8">
    <div class="card-body">
      <h3 class="card-title">
	<a href="{% url 'user_detail' id %}">
	  {{first_name}} {{last_name}}
	</a>
      </h3>
      {% if title %}
      <h6 class="card-subtitle">{{title}}</h6>
      {% endif %}
      <ul class="contact" style="list-style:none;">
	{% if location %}
	<li class="{{location_icon}}"><span>{{location}}</span></li>
        {% endif %}	  
	{% if email %}
	<li class="{{email_icon}}"><span><a href="mailto:{{email}}">{{email}}</a></span></li>
        {% endif %}
	{% if phone %}
	<li class="{{phone_icon}}"><span><a>{{phone}}</a></span></li>
        {% endif %}	  	
	{% if homepage %}
	<li class="{{homepage_icon}}"><span><a href="{{homepage}}">{{homepage}}</a></span></li>
        {% endif %}
      </ul>
      {% if research_interests %}
      <p class="card-text"><b>Research Interests:</b> {{research_interests}}</p>
      {% endif %}
      
      
      {% if biography %}
      <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#{{uid}}_biography" aria-expanded="false" aria-controls="collapseExample">
	Full biography
      </button>
      <div class="collapse" id="{{uid}}_biography">
	<div class="card card-body">
	  {% render_markdown biography %}
	</div>
      </div>
      
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
